.todo-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    text-align: center;
}
form .addTodo{
    width: 170px;
    padding: 5px;
    border: 4px double #151918;
    color: #111312;
}
.addBtn{
    width: 60px;
    padding: 5px;
    border: 4px double #141515;
    background: transparent ;
    color: #111514;
}

.todoList ul {
    padding-left: 0;
    margin: 5px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.todoList ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin-top: 5px;
    width: 235px;
    
}
.todoCard{
    background: #979c9a;
    color: white;
}
.saveBtn{
    color: rgb(37, 27, 27);
    width: 60px;
    padding: 5px;
    border: 4px double #141515;
    background: rgba(94, 93, 93, 0.014);
}
.deleteTodo{
    margin-left: 10px;
}
